body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('assets/bg-main.jpg');
    background-size: cover;
}

.text-container{
    height: 30vh;
    display: grid;
    align-items: center;
    justify-items: center;
    color: black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */}

.header-container {
    display: flex;
    justify-content: center;
}

.img-logo {
    margin-right: 1rem;
}

ul {
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 1rem;
    margin-top: 1.3rem;
    transition: ease-in ;
}

.list-navItem{
    transition-duration: 0.4s; /* Duración de la transición */
  cursor: pointer; /* Cambiar cursor al pasar */
  padding: 3px;
  
}

.list-navItem:hover {
    background-color: blue; /* Cambio de color al pasar el ratón */
    color: white; /* Cambio de color del texto al pasar el ratón */
    padding: 3px;
  }

.nav-container{
    background-color: black;
}

.main-container {
    display: grid;
    place-items: center;
}

.list-menu {
    display: grid;
    place-items: center;
    background-color: midnightblue;
    width: 100vw;
}

.contact-form-button{
    background-color: blue;
    padding: 1rem;
    border: 1px solid black;
    color: white;
    text-decoration: none;
    
}

.list-item{
    margin: 1rem;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3 columnas de igual ancho */
    grid-gap: 20px;
    /* Espacio entre las tarjetas */
}

.card {
    background-color: #ffffff;
    color: black;
    font-size: large;
    border: 1px solid #ccc;
    display: grid;
    place-items: center;
    transition-duration: 300ms;
    border-radius: 15px;
    aspect-ratio: 1 / 1;
}

.card:hover{
    transform: scale(1.08)
}